In [1]:
import pandas as pd

In [2]:
arquivo = '../dados/indices_de_correcao/indice_igpm.csv'
sep = ';'

In [3]:
arquivo

'../dados/indices_de_correcao/indice_igpm.csv'

In [16]:
df_igpm = pd.read_csv(arquivo, sep=sep, decimal=',')

In [17]:
df_igpm

       DATA  VALOR (percentual)
0    198906               19.68
1    198907               35.90
2    198908               36.92
3    198909               39.91
4    198910               40.63
..      ...                 ...
369  202003                1.24
370  202004                0.80
371  202005                0.28
372  202006                1.56
373  202007                2.23

[374 rows x 2 columns]

In [6]:
df_sicli = pd.read_csv("../dados/notebook/cliente_area_de_ponderacao/cliente_area_de_ponderacao.csv", delimiter=';')

In [7]:
df_sicli

,nu_pessoa_p17,nu_cep_full,nu_pessoa,idade,ic_tipo_renda,ic_sexo,nu_estdo_civil_p27,de_estado_civil,vr_renda_bruta,vr_renda_liquida,...,log_complemento,tlo_tx,log_sta_tlo,log_no_abrev,bai_no,bai_no_abrev,mun_nu,Área de ponderação,Setor,valida
0,8480186189848,37550000,0,0,?,?,0,0,0.0,0.0,...,?,?,?,?,?,?,0,3152501003005,315250105000001,0.0
1,9840064467984,31230460,0,0,?,?,0,0,0.0,0.0,...,?,Rua,S,R S Clemente,Santo André,Sto André,3106200,3106200005038,310620005650150,0.0
2,6910060431691,35500200,0,0,?,?,0,0,0.0,0.0,...,?,Rua,S,R Beira Alta,São Luís,S Luís,3122306,3122306005003,312230605000063,0.0
3,5590187325559,39670000,0,0,?,?,0,0,0.0,0.0,...,?,?,?,?,?,?,0,3132503003002,313250305000001,0.0
4,5600102483560,39390000,0,0,?,?,0,0,0.0,0.0,...,?,?,?,?,?,?,0,3107307003002,310730705000001,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4161260,0,0,2450153913245,23,I,M,1,7,0.0,800.0,...,?,?,?,?,?,?,0,0,0,0.0
4161261,0,0,2340104821234,31,?,?,9,0,0.0,0.0,...,?,?,?,?,?,?,0,0,0,0.0
4161262,0,0,7910038972791,43,F,F,2,2,240.0,240.0,...,?,?,?,?,?,?,0,0,0,0.0
4161263,0,0,6790187108679,59,I,F,9,7,0.0,0.0,...,?,?,?,?,?,?,0,0,0,0.0
4161264,0,0,1080022088108,59,F,M,9,7,900.0,900.0,...,?,?,?,?,?,?,0,0,0,0.0

In [9]:
df_sicli = df_sicli[(df_sicli['vr_renda_bruta'] != 0) & (df_sicli['dt_apuracao_renda'] != "?")]

In [10]:
df_sicli = df_sicli[['nu_pessoa_p17', 'vr_renda_bruta','dt_apuracao_renda']]

In [11]:
df_sicli['dt_apuracao_renda'] = df_sicli['dt_apuracao_renda'].replace(regex=r'\-', value='')
df_sicli['dt_apuracao_renda'] = (df_sicli['dt_apuracao_renda'].astype(int) / 100).astype(int)

In [12]:
df_sicli

         nu_pessoa_p17  vr_renda_bruta  dt_apuracao_renda
19       6230145713623         2587.68             201602
24       5580014143558          520.00             200510
30       4880051296488          260.00             200502
38       1090163733109         1112.80             201611
54       9470003061947          642.14             201202
...                ...             ...                ...
4161255              0          200.00             200105
4161256              0          150.00             200001
4161257              0          616.80             201712
4161259              0          987.00             200609
4161262              0          240.00             200001

[913208 rows x 3 columns]

In [18]:
df_igpm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATA                374 non-null    int64
 1   VALOR (percentual)  374 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 6.0 KB

In [19]:
array_full = []
for i in df_sicli.values:
    array = 1
    for j in df_igpm.values:
        if int(j[0]) >= int(i[2]):
            if j[1] != 0.0:
                array = array*(1+j[1]/100)
    array_full.append(array)

In [20]:
df_sicli['pc_correcao_salario_igpm'] = array_full

In [23]:
df_sicli['vr_salario_corrigido_igpm'] = round(df_sicli['vr_renda_bruta'] * df_sicli['pc_correcao_salario_igpm'] , 2)

In [24]:
df_sicli

,nu_pessoa_p17,vr_renda_bruta,dt_apuracao_renda,pc_correcao_salario_igpm,vr_salario_corrigido_igpm
19,6230145713623,2587.68,201602,1.298495,3360.09
24,5580014143558,520.00,200510,2.443332,1270.53
30,4880051296488,260.00,200502,2.438864,634.10
38,1090163733109,1112.80,201611,1.231444,1370.35
54,9470003061947,642.14,201202,1.708101,1096.84
...,...,...,...,...,...
4161255,0,200.00,200105,4.039361,807.87
4161256,0,150.00,200001,4.549291,682.39
4161257,0,616.80,201712,1.242720,766.51
4161259,0,987.00,200609,2.372599,2341.76
4161262,0,240.00,200001,4.549291,1091.83